/* styling room template in footer for room reservation */
.cschedule{
	float:right;
	display:block;
	color:#fff;
	background-color: #2d4f8e;

}

/*#buildc {
	float: left;

}*/

/*#buildc * {
	box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
}	/* needed for overriding bootstrap defaults */

/*#buildc .count p {
	margin: 0px 0px 0px 0px;
	padding: 0;
}*/

#account {
	display: none;
	margin-top:59px;
}


#accountlogin {
	margin-top: 20px;
	margin-bottom: -240px;
	position: relative;
	z-index: 10;
	background-color:#fff;
	border: white solid 1px;
}

#accountpage {
	display: none;
	float: right;
	margin-right: -4%;
	margin-top: 20px;
	margin-bottom: -240px;
	position: relative;
	z-index: 10;
	background-color:#fff;
	border: white solid 1px;
}

#overlayback {
	position   : absolute;
	top        : 0;
	left       : 0;
	width      : 100%;
	height     : 100%;
	background : #000;
	opacity    : 0.5;
	filter     : alpha(opacity=50);
	z-index    : 5;
	display    : none;
}

.arrow-up {
	float: right;
	margin-top: -20px;
	margin-right: 33px;
	background: #022544;
}
.arrow-up:after, .arrow-up:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-up:after {
	border-color: rgba(2, 37, 68, 0);
	border-bottom-color: #022544;
	border-width: 19px;
	margin-left: 152px;
}
.arrow-up:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 21px;
	margin-left: 150px;
}

#resfooter {
	clear: both;
	margin-top: 25px;
	float: left;
	width: 660px;
	font-style: italic;
}

.dynamicheader {
	line-height: 0;
	margin: 0;
	text-transform: uppercase;
}

.dynamicheader h2 {
	float: left;
}

.blue {
	color: #013E7D;
}

.separator {
	border: none;
	background-color: #FEA465;
	height:3px;
	clear: both;
}


h3.footerheading{
	font-size:1em;
	text-transform: none;
	font-weight: bold;
	letter-spacing:inherit;
	text-decoration: none;
}


@media (min-width: 1062px) {
	#calenc {
		float: right;
		display: none;
	}
}

@media (max-width: 1062px) {
	#calenc {
		padding-top: 25px;
		display: none;
		clear: both;
		text-align: center;
	}

}

.addbox {
	background-color: lightgray;
	float: right;
	line-height: 1;
	padding: 10px;
	text-transform: none;

}

.error {
	width: 100%;
	opacity: .5;
	font-size: 13px;
	text-align: center;
	pointer-events: none;
	cursor: not-allowed;
	box-shadow: none;
	font-weight: bold;
}

.times {
	float: right;
	display: none;
}

.calendar {
	margin-left: 3%;
	padding-left: 2%;
	display: none;
}

.roomc {
	display: none;
	clear: both;
	margin-bottom: 20px;
	margin-left: -14px;
	/*background-color: #F2F2F2;*/
}

.buildinfo {
	margin-bottom: 2%;
}

.structure {
	display: none;
	flex-direction: column;
	-webkit-flex-direction: column;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}


.ie9 .structure {

	display: table-cell!important;

}


.structurec {
	display: -webkit-box;
}

.build {
	border: 1px solid #bbb;
	padding: 15px;
	margin: -1px;
	list-style-type: none;
	/*	min-height: 60px;
        min-width: 650px;*/
}

.build:hover {
	background-color: #f5f5f5;

}

.build.current {
	background-color: #f5f5f5;
}

.imagec {
	width: 90px;
	float: left;
}

.buildtext {
	/*float: left;*/
	display: inline-block;
	/*	height: 60px;*/
	/*	line-height: 0;*/
	margin-left: 10px;
}

.buildtext h4 {
	margin-top: 0;
}

/*.buildtext a,p { wfw to select only p elements that are children of buildtext class*/
.buildtext a, .buildtext p {
}

/*.rightbox {
	float: right;
}*/

/*.count {
	//float: right;
	display: inline-block;
	vertical-align: bottom;
	height: 60px;


.count p {
	margin: 16px;
}*/
.bubble {

	display: inline-block;
	/*	font-weight: bold;*/
	background-color: #ACBE38;
	border-radius: 8px;
	min-width: 25px;
	text-align: center;
	font-size:80%;
	padding:2px;

}


.divider {
	border: none;
	background-color: #bbb;
	height:1px;
	margin: 5px 0 4px 0;
}

.divider-vertical {
	padding-left:5px;
	height:55px;
	border-right: 1px solid #A5A5A5;
}

.room {

	position: relative;
	width: 100%;
	display: block;
	margin: -1px;
	padding: 1px;
	border: 1px solid #BBB;
	cursor: pointer;

}

.selected {
	background-color: #FEDEC7;
	/*slected dark organge C86128*/
	/*	border: 4px solid #FEA466;*/
	/*	border-radius: 4px;
        //padding: 0;*/
}


.selected:after, .selected:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

/*.selected:after {
	border-color: rgba(125, 0, 0, 0);
	border-left-color: #FEDEC7;
	border-width: 40px;
	margin-top: -40px;

}

.selected:before {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #FEA466;
	border-width: 45px;
	margin-top: -45px;

}*/

.roomtext {
	/*	padding-left: 10px;
    /*	min-width: 400px;
        height: 60px;*/
	display: inline-block;
	/*cursor: pointer;*/
}

.greenbox {
	background-color: #ACBE38;
	/*	max-width: 65px;*/
	float: right;
	line-height: 1;
	/*	font-size: 75%;
        padding: 7px;
        margin: 3% 2% 3%;*/
}

#building-desc-text {
	margin-top: -10px;
}

span#badge-and-button {

	float: right;
}


.rname {
	margin:10px;
	margin-bottom: 0px;
}

.roompic{
	float:left;
	padding:5px 15px 5px 5px;
}

.rhowto {
	max-width: 350px;

}

.leftspace {
	margin-left: 10px;
}
.fplink{
	margin-left: 10px;
}

/* CALENDAR CSS STUFF */

.calc {
	/*	display: block;*/
	margin: 0 auto;
	/*	float:left; */
	/*	max-width: 375px;*/
	border: 5px solid #FFBB8C;
	padding: 15px;
	background-color: #FEDEC7;
}

.headerdate {
	background-color: lightgray;
	display:block;
	/*height:20px;*/
	text-align: center;
	padding-top: 5px;
	padding-bottom: 8px;
	margin: 0px auto;
}

.boxes {
	text-align: center;
	padding: 0;
}

.box {
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 40px;
	margin: 2px;
	font-size: 70%;
	background-color: #EFEFEF;

	text-transform: uppercase;
	cursor: pointer;
	color: black;
}

.box > p {
	font-size: 150%;

	font-weight: bold;
	line-height: 0;
	margin-top: 5px;

}

.roomname {
	/*	line-height: 0;*/
	margin: .5em auto;
}


.daycal {
	height: 24px;
	width: 80%;
	border: 1px solid #bbb;
	font-size: 16px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;

}

.daycal tr {
	height: 24px;
	padding: 5px;
}

.daycal td {
	padding: 2px;
	border-top: 1px solid #bbb;
	padding-left: 12px;
}

.daycal .hour {
	text-align: center;
	font-size: 90%;
	cursor: pointer;
}

.daycal .celldiv {
	background-color: red;
}

.highlighted {
	background-color: #FEDEC7;
	font-weight: bold;
}

h6 {
	font-weight: inherit;
}

.daycal .roomselect {
	border-radius: 10px;
	text-align: center;
	position: absolute;
}

td#reserved {
	background-color: lightslategray;
	z-index: 1;
}

td#user {
	background-color: lightcoral;
	cursor: move;
	z-index: 2;
}


.button:hover {
	background-color: #3071a9;
}

.button {
	display: inline-block;
	padding: 3px 7px;
	margin-bottom: 0;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;

	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	text-transform: uppercase;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

.disabled {
	opacity: .5;
	pointer-events: none;
	cursor: not-allowed;
	box-shadow: none;
}



p.choosetab{
	padding:.3em;
	text-align:left;
	color:#fff;
	display:inline;
	font-weight:bold;
	width:100%;
	/*	background-color:#FFA466;*/

}

.moptions{
	background-color:#CCDFF6;
	padding: 1em;

}
#choosethetab{
	background-color:#000000;
}

#option-panel-collapse{
	background-color:#CCDFF6;
	margin-top: -20px;
	opacity: 40%;
	border-top: 1px #1F3762 solid;
}
h4.news{
	margin-bottom:-10px;
	margin-top:0px;
}
.viewall{
	text-align:right;
	padding-bottom:.5em;
}

/*datepicker formatting*/

.ui-datepicker {
	display: block;
	border-radius: 0px;
	background: #F5F5F5;
}

.ui-datepicker-calendar .ui-state-default{
	background-color: #e6e6e6;
}

.ui-datepicker-header {
	border-radius: 0px;
	border-top: 0;
	margin: -1.5%;
}

.ui-widget-header .ui-state-hover, .ui-state-focus,
.ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	top: 5px;
}

.ui-datepicker .ui-datepicker-next-hover{
	right: 2px;
	top: 5px;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev-hover{
	left: 2px;
	top: 5px;
	cursor: pointer;
}

.ui-datepicker th {
	font-weight: normal;
}

.ui-datepicker a, .ui-datepicker span{
	border: 0px!important;
}

.ui-widget {
	font: inherit;
}

#ui-datepicker-div {
	display: none;
}

@media screen and (min-width: 992px){
	.structure {
		display: -webkit-box!important;
		flex-direction: row;
		-webkit-flex-direction: row;
	}
	.ie9 .structure {
		display: table-cell!important;
	}
}

@media screen and (max-width: 992px){
	.hasDatepicker {
		font-size: 14px;
	}
	.time-and-cal {
		display: flex;
		display: -webkit-flex;
	}
	.ie9 .time-and-cal {
		display: table-cell!important;
	}
}


@media screen and (max-width: 767px){
	.hasDatepicker {
		font-size: 2vw;
	}
	.calendar {
		width: 43vw;
	}
	.times {
		width: 38vw;
	}
	.calendar {
		margin-left: 0px;
	}
}

@media screen and (max-width: 518px){
	.times {
		padding: 0px;
		width: 115%;
	}
	.hasDatepicker {
		font-size: 4.2vw;
	}
	.calendar {
		width: 89%;
		padding: 0px;
	}
	.time-and-cal {
		flex-direction: column;
		-webkit-flex-direction: column;
	}
	.ie9 .time-and-cal {
		display: table-cell!important;
	}
	.buildtext {
		display: block;
	}
	.rname {
		font-size: 10px;
	}
	.roomtext {
		width: 63%;
	}
}

.hidden-map {
	display: none;
}

@media screen and (max-width: 518px){
	.hasDatepicker {
		font-size: 3.94vw;
	}
	.buildtext h4 {
		font-size: 10px;
	}
	.selectbutton {
		font-size: 8px;
	}
	.btn-xs {
		font-size: 8px;
	}
	.badge {
		font-size: 8px;
	}
	.roomc {
		margin-left: -18px;
		width: 78vw;
	}
	.time-and-cal {
		width: 73vw;
	}
	.hidden-map {
		display: inline-block;
	}
	.visible-map {
		display: none;
	}
	.buildtext {
		display: block;
	}
	.room {
		width: initial;
	}
}

@media screen and (min-width: 2496px){
	.room {
		padding: 3px;
	}

	.roomc {
		width: 100%;
	}

	.structure {
		display: flex!important;
		display: -webkit-flex!important;
		flex-direction: column;
		-webkit-flex-direction: column;
	}

}

/*@media (max-width: @screen-xs) {
    h3{
		font-size:.8em;
		letter-spacing: 3px;
		}
}*/
